<div class="card">
  <div class="card-header">
      <div class="float-start mt-2">
        <h4>Users List</h4>
      </div>
      <div class="float-end">
        <button class="btn btn-rounded btn-sm btn-success m-2" (click)="create()"><fa-icon [icon]="addIcon"></fa-icon></button>
      </div>
    </div>
  <div class="card-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Age</th>
          <th scope="col">Email</th>          
          <th scope="col">Actions</th>          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of data">          
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>            
            <td>
                <button class="btn btn-rounded btn-primary btn-sm m-2" (click)="edit(user)"><fa-icon [icon]="editIcon"></fa-icon></button>
                <button class="btn btn-rounded btn-danger btn-sm" (click)="delete(user)"><fa-icon [icon]="trashIcon"></fa-icon></button>
            </td>
        </tr>                
      </tbody>
    </table>
  </div>
</div>
